 div.rateYo {position: relative;left: 45%;top: 10px;}
    ul.ActionMenu {list-style-type: none;}
    .ActionMenuLi {display: inline;word-spacing: 25px;}
    .ActionMenuLi a:hover {text-decoration: none;}
    .card-columns .card {width: 925px!important;}
    /*.demo {width:420px;position: relative;left: 25%;top: 10px;}
    .imgSlider {list-style: none outside none;padding-left: 0;margin-bottom:0;}
    .sliderImg {display: block;float: left;margin-right: 6px;cursor:pointer;}
    .MainImg {display: block;height: auto;max-width: 100%;width: 100%;}*/
    body{ background: #fafafa;}
/*Comment Box*/
.widget-area.blank {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);-webkit-box-shadow: none;
-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;}
body .no-padding {padding: 0;}
.widget-area {background-color: #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;
-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);float: left;margin-top: 30px;padding: 25px 30px;position: relative;width: 100%;}
.status-upload {background: none repeat scroll 0 0 #f5f5f5;-webkit-border-radius: 4px;-moz-border-radius: 4px;
-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;float: left;width: 100%;}
.status-upload form {float: left;width: 100%;}
.status-upload form textarea {background: none repeat scroll 0 0 #fff;border: medium none;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;-ms-border-radius: 4px 4px 0 0;-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;color: #777777;float: left;font-family: Lato;font-size: 14px;height: 142px;
letter-spacing: 0.3px;padding: 20px;width: 100%;resize:vertical;outline:none;border: 1px solid #F2F2F2;}
.status-upload form button {border: medium none;-webkit-border-radius: 4px;-moz-border-radius: 4px;
-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;color: #fff;float: right;font-family: Lato;font-size: 14px;letter-spacing: 0.3px;margin-right: 9px;margin-top: 9px;padding: 6px 15px;}
.dropdown > a > span.green:before {border-left-color: #2dcb73;}
.status-upload form button > i {margin-right: 7px;}  
/*Comment Box End*/
 
 /* Galary */
.zoom-gallery {
    padding: 55px;
}
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/*Galary End*/

 /* For mobile phones: */
@media only screen and (max-width: 768px) { 
  .card-columns .card {
    width: 100%;
  }

  #mainDiv{
    width: 100%;
    height: auto;
  }
}
